@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h1>Add a new Machine</h1>

@using (Html.BeginForm())
{

  @Html.LabelFor(model => model.Name) <br>
  @Html.TextBoxFor(model => model.Name) <br>

  @Html.LabelFor(model => model.Number) <br>
  @Html.TextBoxFor(model => model.Number) <br>

  @Html.LabelFor(model => model.Description) <br>
  @Html.TextBoxFor(model => model.Description) <br>

  @Html.Label("Select Engineer")<br>
  @Html.DropDownList("EngineerId")<br><br>

  <input type="submit" class="btn btn-warning" value="Add Machine" /><br>
}
