@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h1>@Html.DisplayFor(model => model.Name) Details<h1>

<h3>@Html.DisplayNameFor(model => model.Number): @Html.DisplayFor(model => model.Number)</h3>

<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h3><br>

@if(@Model.Engineers.Count == 0)
{
  <p>This Machine does not have an assigned Engineer yet!</p>
}
else
{
  <h2>Engineers Permitted:</h2>

  @foreach(var join in Model.Engineers)
  { 
    @join.Engineer.EngineerName
    @using (Html.BeginForm("DeleteEngineer", "Machines"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)
      <input type="submit" value="Delete"/>
    }
  }
}

<button type="button" class="btn btn-warning">@Html.ActionLink("Edit Machine", "Edit", new { id = Model.MachineId })</button>
<button type="button" class="btn btn-warning">@Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId })</button>
<button type="button" class="btn btn-warning">@Html.ActionLink("Add new Machine", "Create")</button>
<button type="button" class="btn btn-warning">@Html.ActionLink("Back to Machines", "Index")</button>
