@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>Add an Engineer</h1>
<img src="~/img/pointing.png">

@using (Html.BeginForm())
{
  @Html.Label("EngineerName", "Engineer Name")<br>
  @Html.TextBoxFor(model => model.EngineerName)<br>

  @Html.Label("EngineerSkill", "Skill")<br>
  @Html.TextBoxFor(model => model.EngineerSkill)<br>

  @Html.Label("HireDate", "HireDate")<br>
  @Html.TextBoxFor(model => model.HireDate, new { @type = "date"})<br>

  <input type="submit" value="Add new Engineer" /><br>
}

<p>@Html.ActionLink("Show all Engineers", "Index")</p>