@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>New Engineer</h1>
<img src="~/img/pointing.png">

@using (Html.BeginForm())
{
  @Html.Label("EngineerName", "Engineer Name")<br>
  @Html.TextBoxFor(model => model.EngineerName)<br>

  @Html.Label("EngineerSkill", "Skill")<br>
  @Html.TextBoxFor(model => model.EngineerSkill)<br>

  @Html.Label("HireDate", "Hire Date")<br>
  @Html.TextBoxFor(model => model.HireDate, new { @type = "date"})<br><br>

  <input type="submit" class="btn btn-success" value="Add new Engineer" />
}
